<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
    <div class="mt-3 mb-3">
     <h4>商品一覧</h4>
    </div>
  <div class="row">
   <% @items.each do |item| %>
     <div class="col-3">
     <%= link_to item_path(item.id) do %>
       <%= image_tag item.get_profile_image(150,150) %>
     <% end %>
     <div><%= item.name %></div>
     <div><%= item.price %></div>
     </div>
  <% end %>
  </div>
</div>
</div>
</div>
<% paginate @items %>